.header {
    position: relative;
    height: 100vh;
    // background: url(../img/header_background.png) no-repeat;
    background-attachment: fixed !important;
    background-size: cover !important;
    // background-position: center 0%;

    &__navbar-container {
        margin: 0 3.5rem;
        padding-top: 2rem;
    }

    &__navbar {
        
    }

    &__logo {

    }

    &__navbar-list {
        font-size: initial;
        text-transform: uppercase;

        @include respond(lg) {
            text-align: center;
            background-color: rgba($color-black,.6);
        }

    }

    &__navbar-item {

        &:not(:last-child) {
            margin-right: 3.5rem;

            @include respond(lg) {
                margin-right: 0;
                margin-bottom: .6rem;
            }

        }

        &.active {
            a{
                color: $primary-green !important;
            }
        }


    }

    &__navbar-link {

        &:link,
        &:visited {
            color: $color-white !important;
            font-weight: 600;
            @include animate( all, .3s );


            // &:not(:last-child) {
            //     margin-right: 3.5rem !important;

            //     @include respond(lg) {
            //         margin-right: 0;
            //         margin-bottom: .6rem;
            //     }

            // }
        }

        &:hover {
            color: $primary-green !important;
        }
    }

    .dropdown-submenu {
        .dropdown-menu {
            top: 7px;
            left: 100%;
            margin-left: .1rem;
            margin-right: .1rem;
        }
    }

    &__dropdown-menu{

        @include respond(lg) {
            width: 20%;
            margin: 0 auto;
            text-align: center;
        }

        @include respond(sm) {
            width: 30%;
        }
    }

    &__dropdown-item {

        &:link,
        &:visited{
            font-size: 1.2rem;
            font-weight: 600;
            @include animate( all, .3s );
            background-color: transparent;
        }


        &:hover{
            color: $primary-green;
        }
    }

    &__text-box {
        position: absolute;
        left: 3.5%;
        bottom: 15%;
        text-transform: uppercase;

        @include respond(lg) { left: 5%; }
        @include respond(md) { left: 7%; }
        @include respond(sm) { left: 12%; }
        
    }
    
    &__title {
        font-size: 5rem;
        letter-spacing: 6px;
        font-weight: 300;
        line-height: 1.2;
        
        @include respond(sm) {             
            font-size: 4rem;
            letter-spacing: 4px;
         }

        .text-decoration {
            display: inline-block;
            border-right: 2px solid $primary-green;
            height: 4.2rem;
            margin-bottom: -4px;
            margin-left: -8px;
            @include transform( rotate(30deg) );
        }
        
    }
    
    &__subtitle {
        font-size: 2.5rem;
        float: right;
        margin-right: 7rem;

        @include respond(sm) {             
            float: none;
            margin-right: 0;
         }

        .text-decoration {
            display: inline-block;
            border-right: 2px solid $primary-red;
            height: 2.2rem;
            margin-bottom: -2px;
            margin-left: 2px;
            @include transform( rotate(30deg) );
        }

    }

    &__fill {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 7rem;
        background: rgba($primary-red, .3);
        -webkit-clip-path: polygon( 0 60% , 100% 0 , 100% 100%, 0 100% );
        clip-path: polygon( 0 60% , 100% 0 , 100% 100%, 0 100% );
    }

}