//Kolory

$color-white:#fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #656e74;

$primary-green: #a2ca28;
$primary-red: #fd634e;
$primary-blue: #0d1119;


//Font
$default-font-size: 1.6rem;